CORS_ALLOW_ORIGINS=["http://localhost:3000","http://localhost:3001"]
SERPAPI_API_KEY=940bd2fd449b5dbc76df5fa3dc4cb5feca6142bc0bded5d9c53cd17512c1f431
GEMINI_API_KEY=AIzaSyDJyBZu4P2QM_VpQ3J5N9U04A-0yaE0DQA
OUTSCRAPER_API_KEY=ZmM0ZGQ4Y2RjY2Q5NDIxODgxMWM4OTVhMDA3M2MzNDN8YWRjNGRiNDY2Zg
EVENTBRITE_TOKEN=TH5ZBV6ADJ67EKCCV4

# GOOGLE_MAPS_API_KEY=AIzaSyA4xVcWO5WPf9yApvt7CfqzoRVjKfEPowc
